:root {
    --bg-color: #ffffff;
    --trek-main: #E14826;
}

.hidden {
    display: none;
}


body {
    max-width: 500px;
    margin: 50px auto;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./trek.jpg');
}

nav {
    height: 50px;
}

.navItems {
    display: flex;
    justify-content: space-around;
}

button {
    border: 0;
    background-color: var(--bg-color);
}

button.selected {
    background-color: var(--trek-main);
}